@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-blur {
    z-index: 0;
      -webkit-mask-image: linear-gradient(to left,black 5%,transparent 80%);
      mask-image: linear-gradient(to left,black 5%,transparent 80%);
  }

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
